<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	{% block meta %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Miro Community is a video curation platform. It allows you to embed, organize and display videos already on the internet.">
		<!-- Mobile viewport optimized: h5bp.com/viewport -->
		<meta name="viewport" content="width=device-width">
	{% endblock meta %}

	<title>{% block title %}Miro Community{% endblock title %}</title>
	
	{% block styles %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mirocommunity_site/css/screen.css" media="screen" />
	{% endblock %}

	{% block head-scripts %}
		<script src="{{ STATIC_URL }}mirocommunity_site/js/modernizr-2.5.3.min.js"></script>
	{% endblock %}

	{% block head %}
	{% endblock %}
	
</head>
<body class="{% block body_classes %}{% endblock %}">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div id="main-wrap" class="clearfix">
		<div id="header-wrap">
			<div id="header" class="clearfix">
				{% block header %}
					{% include "mirocommunity_site/_site_header.html" %}
				{% endblock %}
			</div>
		</div>

		<div id="banner-wrap">
			<div id="banner">
				{% block banner %}
				{% endblock %}
			</div>
			<div class="lights"></div>
		</div>

		{% block content-wrap %}
		<div id="contents-wrap">
			<div id="inner-wrap">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		{% endblock %}

		{% block footer %}
			{% include "mirocommunity_site/_site_footer.html" %}
		{% endblock %}
		
	</div>{# /#main-wrap #}
	
	{% block foot-scripts %}
	<script src="{{ STATIC_URL }}mirocommunity_site/js/jquery-1.7.2.min.js"></script>
	{% if settings.GOOGLE_ANALYTICS_UA %}
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ?
		"https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost +
		"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		  var pageTracker = _gat._getTracker("{{ settings.GOOGLE_ANALYTICS_UA }}");
		  {% if settings.GOOGLE_ANALYTICS_DOMAIN %}
		  pageTracker._setDomainName(".{{ settings.GOOGLE_ANALYTICS_DOMAIN }}");
		  {% endif %}
		  pageTracker._trackPageview();
		} catch(err) {}</script>
	{% endif %}
	
	{% if "MSIE 6" in request.META.HTTP_USER_AGENT or "MSIE 7" in request.META.HTTP_USER_AGENT %}
		{% if not "chromeframe" in request.META.HTTP_USER_AGENT %}
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
			<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
		{% endif %}
	{% endif %}
	{% endblock %}
	
</body>

</html>
