	<aside>
		<a href="/"><img src="/assets/images/logo.png" alt="Miro Community"/></a>
	</aside>
	<nav>
		<ul>
			<li><a href="/features/" title="Features">Features</a></li>
			<li><a href="/college/" title="Universities">Universities</a></li>
			<li><a href="/pubmedia/" title="Local Media">Local Media</a></li>
			<li><a href="/enterprise/" title="Enterprise Services" class="a">Enterprise Services</a></li>
			<li><a href="/faq/" title="FAQ">FAQ</a></li>
		</ul>
		<aside>
			<a href="/signup/" title="Create a site">Create a site</a>
		</aside>
	</nav>