<!-- Logo -->
<a href="/"><img class="logo" src="{{ STATIC_URL }}mirocommunity_site/images/logo.png" alt="MiroCommunity"></a>

<!-- Nav -->
<ul class="nav">
	<li><a href="/features/">Features</a></li>
	<li><a href="/college/">Universities</a></li>
	<li><a href="/local-media/">Local Media</a></li>
	<li><a href="/enterprise/">Enterprise Services</a></li>
</ul>
<!-- End of .nav -->

<a href="/signup/"><img class="create-site-btn" src="{{ STATIC_URL }}mirocommunity_site/images/create-btn.png" alt="Create a site"></a>