{% load url from future %}
<a href="/"><img class="logo" src="{{ STATIC_URL }}mirocommunity_site/images/logo.png" alt="MiroCommunity"></a>

<ul class="nav">
	<li>{% with url="/features/" text="Features" %}{% include "mirocommunity_site/_nav_link.html" %}{% endwith %}</li>
	<li>{% with url="/college/" text="Universities" %}{% include "mirocommunity_site/_nav_link.html" %}{% endwith %}</li>
	<li>{% with url="/local-media/" text="Local Media" %}{% include "mirocommunity_site/_nav_link.html" %}{% endwith %}</li>
	<li>{% with url="/enterprise/" text="Enterprise Services" %}{% include "mirocommunity_site/_nav_link.html" %}{% endwith %}</li>
	<li class='accent'>{% url 'mirocommunity_site_pricing' as url %}{% with text="Pricing" %}{% include "mirocommunity_site/_nav_link.html" %}{% endwith %}</li>
</ul>