<h1 class="logo">Miro community</h1>

<nav class='footer-connect-nav'>
	<h2>Connect with us</h2>
	<ul>
		<li><a href="https://twitter.com/#!/mirocommunity">Follow us</a></li>
		<li><a href="http://blog.getmiro.com/">Our blog</a></li>
	</ul>
</nav>

<h2><label for="email">Join PCF's Newsletter:</label></h2>
<form action="http://pcf8.pculture.org/interspire/form.php?form=1" method="post" target="_blank">
	<input type="text" name="email" value="" placeholder="Your email goes here">
	<input type="hidden" name="format" value="h" />
	<input type="submit" value="Subscribe" class="b_btn">
</form>

<nav>
	<h2>Learn More</h2>
	<ul>
		<li><a href="https://develop.participatoryculture.org/index.php/MiroCommunityManual" title="About">About</a></li>
		<li><a href="/features/">Features</a></li>
		<li><a href="/faq/" title="FAQ">FAQ</a></li>
	</ul>
</nav>

<nav>
	<h2>The Platform</h2>
	<ul>
		<li><a href="/college/" title="Universities">Universities</a></li>
		<li><a href="/pubmedia/" title="Local Media">Local Media</a></li>
		<li><a href="/enterprise/">Enterprise Services</a></li>
	</ul>
</nav>

<nav>
	<h2>Community</h2>
	<ul>
		<li><a href="http://support.mirocommunity.org">Support</a></li>
		<li><a href="http://readthedocs.org/docs/mirocommunity/en/latest/contributing/index.html">Contribute</a></li>
		<li><a href="http://readthedocs.org/docs/mirocommunity/">Docs</a></li>
	</ul>
</nav>


<p>Miro Community is a project of the Participatory Culture Foundation, a non-profit organization and was made possible through a grant from the John S. and James L. Knight Foundation. The Miro &amp; Miro Community names, logos, and icons are trademarks of the Participatory Culture Foundation (PCF). All text and image content on mirocommunity.org, unless otherwise specified, is released by PCF into the public domain. This does not include the Miro and Miro Community name, logo, and icon. This does not include the Miro Community code, which is licensed under the AGPL. Please share, re-publish, re-use, and re-imagine this site.</p>

<nav class="subfooter-nav">
	<ul>
		<li><a href="mailto:support@mirocommunity.org">Contact</a></li>
		<li><a href="http://mirocommunity.org/terms">Terms of Use</a></li>
		<li><a href="http://pculture.org/pcf/websites-privacy/">Privacy Policy</a></li>
	</ul>
	<p>MiroCommunity &copy; 2012</p>
</nav>