{% extends "mirocommunity_site/__base.html" %}

{% block content-wrap %}
<div id="page-wrap">
	<div class="top-shadow"></div>

	<div id="page-inner-wrap">
		{% block content %}
		<div id="enterprise">
			<h1 class="title-big-thin">A solution that fits you.</h1>
		
			<ul class="enterprise-detailed">
				<li>
					<a href="http://pittsburghonvideo.org/" title="The Pittsburgh Foundation's Pittsburgh on Video"><img class="alignleft" src="{{ STATIC_URL }}mirocommunity_site/images/pittsburgh.jpg"></a>
					<div class="enterprise-contents">
						<h3>Customization, Design and Branding</h3>
						<p>We'll design a custom header and navigation, which can integrate with your existing site or be a whole new brand.</p>
						<p>A personalized color scheme and sidebar layout offers a chance for more of your content to stand out.</p>
						<p>You choose the front page video sources from the many RSS feeds provided.</p>
					</div>
				</li>
				<li>
					<a href="http://ondemand.duke.edu/" title="Duke University's Duke on Demand"><img class="alignright" src="{{ STATIC_URL }}mirocommunity_site/images/duke.jpg"></a>
					<div class="enterprise-contents">
						<h3>Security and Stability</h3>
						<p>Our enterprise server is separated from other sites so you won't be impacted by user spikes.</p>
						<p>Get updates only after they’ve been widely tested and triple checked.</p>
						<p>Having a Service Level Agreement offers peace of mind.</p>
						<p>We take care of keeping your features and theme up to date, so you can focus about developing great content and community</p>
					</div>
				</li>
				<li>
					<a href="http://wiredforchangeremix.org/" title="Wired for Change Remix Contest"><img class="alignleft" src="{{ STATIC_URL }}mirocommunity_site/images/wired.jpg"></a>
					<div class="enterprise-contents">
						<h3>Fast and Thorough Support</h3>
						<p>Never worry that you’ll run into a problem and be left adrift.</p>
						<p>Get quick replies to all your questions.</p>
						<p>Making changes is easy - change your mind about something or want to add something new? Just let us know and we’ll take care of it.</p>
						<p>Outreach and marketing consultation - get the benefit of our web native knowledge with ongoing advising on SEO, content production and curation.</p>
					</div>
				</li>
				<li>
					<h3>Learn More</h3>
					<p>Contact <a href="mailto:enterprise@pculture.org">enterprise@pculture.org</a> for more information about enterprise services.</p>
				</li>
			</ul>
		</div>
		{% endblock %}
	</div>{# /.page-inner-wrap #}
</div>{# /#page-wrap #}
{% endblock %}
