<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<meta name="robots" content="follow,index" />
	<title>Miro Community: The easiest way to create a video site or video contest</title>
	<meta name="description" content="" />
    <meta name="keywords" content="" />
	<!-- Stylesheets -->	
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
	<!--Scripts-->
	<script type="text/javascript" src="/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/scripts.js"></script>
</head>
<body class="e">
<h1>Welcome to Miro community - Enterprise</h1>

<div class="wrap">
<header>
	<aside>
		<a href="/" title="Miro community" class="logo"><img src="/assets/images/logo.png" alt="logo"/></a>
	</aside>
	<nav>
		<ul>
			<li><a href="/features/" title="Features">Features</a></li>
			<li><a href="/college/" title="Universities">Universities</a></li>
			<li><a href="/pubmedia/" title="Local Media">Local Media</a></li>
			<li><a href="/enterprise/" title="Enterprise Services" class="a">Enterprise Services</a></li>
			<li><a href="/faq/" title="FAQ">FAQ</a></li>
		</ul>
		<aside>
			<a href="/signup/" title="Create a site">Create a site</a>
		</aside>
	</nav>
	<div class="clear"></div>
</header>
</div>

<section id="content">
	<div class="wrap">
		<header>
		<h2>Enterprise Services</h2>
		<p>A solution that fits you.</p>
		</header>
		
		<section>
			<h3>Customization, Design and Branding</h3>
			<aside class="l">
				<div>
					<a href="http://pittsburghonvideo.org/" title="The Pittsburgh Foundation's Pittsburgh on Video">
						<img src="/assets/images/pittsburgh.jpg" alt="The Pittsburgh Foundation's Pittsburgh on Video" />
						<span></span>
					</a>	
				</div>
			</aside>
			<aside class="r">
				<p>We'll design a custom header and navigation, which can integrate with your existing site or be a whole new brand.</p>
				<p>A personalized color scheme and sidebar layout offers a chance for more of your content to stand out.</p>
				<p>You choose the front page video sources from the many RSS feeds provided.</p>
			</aside>
			<div class="clear"></div>
		</section>
		<section class="r">
			<h3>Security and Stability</h3>
			<aside class="r">
				<p>Our enterprise server is separated from other sites so you won't be impacted by user spikes.</p>
				<p>Get updates only after they’ve been widely tested and triple checked.</p>
				<p>Having a Service Level Agreement offers peace of mind.</p>
				<p>We take care of keeping your features and theme up to date, so you can focus about developing great content and community</p>
			</aside>
			<aside class="l">
				<div>
					<a href="http://ondemand.duke.edu/" title="Duke University's Duke on Demand">
						<img src="/assets/images/duke.jpg" alt="Duke University's Duke on Demand" />
						<span></span>
					</a>
				</div>
			</aside>
			<div class="clear"></div>
		</section>
		<section>
			<h3>Fast and Thorough Support</h3>
			<aside class="l">
				<div>
					<a href="http://wiredforchangeremix.org/" title="Wired for Change Remix Contest">
						<img src="/assets/images/wired.jpg" alt="Wired for Change Remix Contest" />
						<span></span>
					</a>
				</div>
			</aside>
			<aside class="r">
				<p>Never worry that you’ll run into a problem and be left adrift.</p>
				<p>Get quick replies to all your questions.</p>
				<p>Making changes is easy - change your mind about something or want to add something new? Just let us know and we’ll take care of it.</p>
				<p>Outreach and marketing consultation - get the benefit of our web native knowledge with ongoing advising on SEO, content production and curation.</p>
			</aside>
			<div class="clear"></div>
		</section>
		
		<section id="lm">
			<h3>Learn More</h3>
			<p>Contact <span>enterprise[at]pculture.org</span> for more information about enterprise services.</p>
		</section>
		
	</div>
</section>

<footer>
		<div class="wrap">
			<section>
				<span class="logo">Miro community</span>
				
				<form action="http://pcf8.pculture.org/interspire/form.php?form=1" method="post" target="_blank">
					<h4>Join PCF's Newsletter:</h4>
					<input type="text" name="email" value="" placeholder="Your email goes here">
					<input type="hidden" name="format" value="h" />
					<input type="submit" value="Subscribe" class="b_btn">
				</form>
				
				<aside>
				
				<div>
					<h3>The platform</h3>
					<ul>
						<li><a href="/features/" title="Features"><span class="f"></span>Features</a></li>
						<li><a href="/enterprise/" title="Enterprise Services"><span class="e"></span>Enterprise Services</a></li>
					</ul>
				</div>
				
				<div>				
					<h3>Connect</h3>
					<ul>
						<li><a href=" https://twitter.com/#!/mirocommunity" title="Follow us"><span class="c"></span>Follow us</a></li>
						<li><a href="http://blog.getmiro.com/" title="Our blog"><span class="b"></span>Our blog</a></li>
					</ul>
				</div>	
				</aside>
				<div class="clear"></div>
			</section>
			<section>			
				<div class="r">
					<p>Miro Community is a project of the Participatory Culture Foundation, a non-profit organization and was made possible through a grant from the John S. and James L. Knight Foundation. The Miro & Miro Community names, logos, and icons are trademarks of the Participatory Culture Foundation (PCF). All text and image content on getmiro.com, unless otherwise specified, is released by PCF into the public domain. This does not include the Miro and Miro Community name, logo, and icon. This does not include the Miro Community code, which is licensed under the AGPL. Please share, re-publish, re-use, and re-imagine this site.</p>	
				</div>	
				<div class="clear"></div>
			</section>
			<div class="footer">
				<nav>
					<ul>
						<li><a href=" http://mirocommunity.zendesk.com/" title="Support">Support</a></li>
						<li><a href="https://develop.participatoryculture.org/index.php/MiroCommunityManual" title="About">About</a></li>
						<li><a href="http://mirocommunity.org/terms" title="Terms of Use">Terms of Use</a></li>
						<li><a href="http://pculture.org/pcf/websites-privacy/" title="Privacy Policy">Privacy Policy</a></li>
						<li><a href="mailto:questions@mirocommunity.org" title="Contact">Contact</a></li>
					</ul>
				</nav>
				<p>MiroCommunity &copy; 2011</p>
			</div>
		</div>
	</footer>
</body>
</html>
