{% extends "mirocommunity_site/__base.html" %}
{% load static from staticfiles %}

{% block title %}Enterprise Services — {{ block.super }}{% endblock %}

{% block content-inner %}
	<h1>A solution that fits you.</h1>

	<div class="l-section clearfix">
		<a href="http://pittsburghonvideo.org/" title="The Pittsburgh Foundation's Pittsburgh on Video">
			<figure class='framed l-floatleft'>
				<img src="{% static 'mirocommunity_site/images/content/enterprise/pittsburgh.jpg' %}">
			</figure>
		</a>
		<h2>Customization, Design and Branding</h2>
		<p>We'll design a custom header and navigation, which can integrate with your existing site or be a whole new brand.</p>
		<p>A personalized color scheme and sidebar layout offers a chance for more of your content to stand out.</p>
		<p>You choose the front page video sources from the many RSS feeds provided.</p>
	</div>
	<div class="l-section clearfix">
		<a href="http://ondemand.duke.edu/" title="Duke University's Duke on Demand">
			<figure class='framed l-floatright'>
				<img src="{% static 'mirocommunity_site/images/content/enterprise/duke.jpg' %}">
			</figure>
		</a>
		<h2>Security and Stability</h2>
		<p>Having a Service Level Agreement offers peace of mind.</p>
		<p>We take care of keeping your features and theme up to date, so you can focus about developing great content and community</p>
	</div>
	<div class="l-section clearfix">
		<a href="http://wiredforchangeremix.org/" title="Wired for Change Remix Contest">
			<figure class="l-floatleft framed">
				<img src="{% static 'mirocommunity_site/images/content/enterprise/wired-for-change.jpg' %}">
			</figure>
		</a>
		<h2>Fast and Thorough Support</h2>
		<p>Never worry that you’ll run into a problem and be left adrift.</p>
		<p>Get quick replies to all your questions.</p>
		<p>Making changes is easy - change your mind about something or want to add something new? Just let us know and we’ll take care of it.</p>
		<p>Outreach and marketing consultation - get the benefit of our web native knowledge with ongoing advising on SEO, content production and curation.</p>
	</div>
	<div class="l-section clearfix">
		<h2>Learn More</h2>
		<p>Contact <a href="mailto:enterprise@pculture.org">enterprise@pculture.org</a> for more information about enterprise services.</p>
	</div>
{% endblock %}
