{% extends "mirocommunity_site/__base.html" %}

{% block content %}
<div id="intro"> 
<h1 id="faqheader">Frequently Asked Questions</h1> 
<div id="faqcontents"> 
<ul> 
<li> 
<h3><a href="#faq-general">General</a></h3> 
<ul> 
<li><a href="#faq-whatis">What Can I Do With Miro Community?</a></li> 
<li><a href="#faq-domain">Can I use my own domain?</a></li> 
<li><a href="#faq-hosting">Is Miro Community a video hosting site?</a></li> 
<li><a href="#faq-theora">Does Miro Communtiy support Ogg Theora? Does it allow flash?</a></li> 
<li><a href="#faq-community">Why should my community have a video front page?</a></li> 
<li><a href="#faq-why">Why should I use Miro Community to make a community video page?</a></li> 
<li><a href="#faq-cost">Is Miro Community free?</a></li> 
<li><a href="#faq-paid">Who needs a paid account?</a></li>
<li><a href="#faq-documentation">I have more questions!</a></li>
</ul> 
</li> 
 
<li> 
<h3><a href="#faq-gettingstarted">Getting Started</a></h3> 
<ul> 
<li><a href="#faq-sitecreation">How do I make a Miro Community site?</a></li> 
<li><a href="#faq-youtubeuser">How do I add a YouTube User's Videos to my Miro Community?</a></li> 
<li><a href="#faq-videosources">Can Miro Community accept videos from anywhere?</a></li> 
<li><a href="#faq-permission">Do I need permission to post someone elses video to a Miro Community site?</a></li> 
</ul> 
</li> 
 
<li> 
<h3><a href="#faq-running">Running Your Miro Community Site</a></h3> 
<ul> 
<li><a href="#faq-statistics">I want statistics and metrics!</a></li> 
<li><a href="#faq-seo">What do I need to do to get my Miro Community site to show up on Google or other search engines?</a></li> 
<li><a href="#faq-findingvideos">How do I find more videos to use on the site?</a></li> 
</ul>  
</li> 
 
<li> 
<h3><a href="#faq-problems">Errors, Problems, Spam, Etc.</a></h3> 
<ul> 
<li><a href="#faq-error"> I have an error on my Miro Community site - what should I do?</a></li> 
<li><a href="#faq-gone"> The site I made is gone!</a></li>
<li><a href="#faq-browser">Why does the site look strange in my browser?</a></li> 
<li><a href="#faq-spam">How can I protect against spam?</a></li> 
<li><a href="#faq-editinfo">How can I edit information, metadata, or a thumbnail for a video?</a></li> 
<li><a href="#faq-users">How can users sign up on my Miro Community site?</a></li> 
</ul> 
</li> 
 
<li> 
<h3><a href="#faq-customization">Customization</a></h3> 
<ul> 
<li><a href="#faq-branding">How can I brand my Miro Community site?</a></li> 
<li><a href="#faq-customize">Can I customize it to look like my website or include it within my website?</a></li> 
<li><a href="#faq-layout">How can I change the layout of my site?</a></li> 
<li><a href="#faq-advertising">Can I advertise on my site?</a></li> 
<li><a href="#faq-server">Can I run Miro Community on my own server?</a></li> 
</ul> 
</li> 
 
 <li> 
<h3><a href="#faq-account">Accounts and Payment</a></h3>
 <ul>
 <li><a href="#faq-trial">How does the free trial work?</a></li>
 <li><a href="#faq-later">Can I get the free trial if I upgrade later?</a></li>
 <li><a href="#faq-changeplans">Can I change plans in the future?</a></li>
 <li><a href="#faq-upgradepayment">How does payment work if I upgrade/downgrade?</a></li>
 <li><a href="#faq-stoppayment">What happens if I stop paying?</a></li>
 <li><a href="#faq-payment">What form of payment do you accept?</a></li>
 <li><a href="#faq-invoice">Can you send me an invoice?</a></li>
 </ul>
</li> 

<li> 
<h3><a href="#faq-pcf">Miro Community and the Participatory Culture Foundation</a></h3> 
<ul> 
<li><a href="#faq-funding">How is Miro Community funded?</a></li> 
<li><a href="#faq-suggestions">Where can I send my suggestions?</a></li> 
<li><a href="#faq-pcf">Who is the Participatory Culture Foundation?</a></li> 
<li><a href="faq-contact">How can I get in touch with Miro Community?</a></li>
</ul> 
</li> 
</ul> 
</div> 
	
<div id="faq-qa"> 
 
<ul> 
<li id="faq-general"> 
<h3>General</h3> 
<ul> 
<li id="faq-whatis"><h4>What Can I Do With Miro Community?</h4> 
<p>Miro Community can embed and display videos already on the internet. 
It offers an easy way for you to collect and curate videos, and display 
them elegantly. You can search within Miro Community for videos you have
 collected, and as an administrator you can search through Miro 
Community for videos with relevant keywords on popular video host sites.</p></li> 
 
<li id="faq-domain"><h4>Can I use my own domain?</h4> 
<p>This feature is available with a premium account. You can upgrade to get a paid account on the <quote>Account</quote> section of your site or sign up for a new site with a paid account <a href="http://www.mirocommunity.org/signup/">here</a>.</p></li> 
 
<li id="faq-hosting"><h4>Is Miro Community a video hosting site?</h4> 
<p>At this time, Miro Community does not host videos. You cannot upload 
videos to Miro Community sites (yet). If you need a place to host your 
videos, try blip.tv, Vimeo.com, VideoPress, or Kaltura.com. </p></li> 
 
<li id="faq-theora"><h4>Does Miro Communtiy support Ogg Theora? Does it 
allow flash?</h4> 
<p>Miro Community supports any video that can be embedded, including Ogg
 Theora videos. As co-founders of the Open Video Alliance, the 
Participatory Culture Foundation is committed to open-source video 
solutions. We have added some extra support to help make Ogg videos look
 great and warn those using browsers that do not support Ogg. We also 
want to make our software easy to use for people who may not have 
previously encountered open-source software by supporting the most 
popular video hosting sites, including YouTube, blip.tv, and Vimeo.</p></li>
 
 
<li id="faq-community"><h4>Why should my community have a video front 
page?</h4> 
<p>Right now, there is a lot of valuable local and topical video out there, but it 
can be very difficult to find, especially if you're looking to get a 
general sense of a community on a regular basis. Video and local are 
both big trends right now, but few efforts are truly combining them - 
Miro Community allows you to do so by taking advantage of the local 
video that's already out there.</p></li> 
 
<li id="faq-why"><h4>Why should I use Miro Community to make a community
 video page?</h4> 
<p>Miro Community takes much of the work out of making a video page. 
Simply copy and paste media embedded RSS feeds into the Manage Sources 
page, and videos will come into your site automatically, and can then be
 reviewed by your administrators. Miro Community is easy to use, 
open-source, and highly customizable, through custom CSS and
 access to Django templating. Miro Community is also 
produced by a small, nonprofit organization, ensuring that you will be 
supported along the way and know that youre supporting a good cause!</p></li>
 
 
<li id="faq-cost"><h4>Is Miro Community free?</h4> 
<p>The software that runs Miro Community is free and open source and can
 be <a href="https://git.participatoryculture.org/localtv" title="Get 
the code for Miro Community">downloaded here</a>. We host free sites for the general public and small community groups, you can <a href="http://www.mirocommunity.org/signup/" title="Miro 
Community Signup">set one up here</a>. You can also sign up for a paid site, which will give you additional features and a higher video limit. If you already have a free site, you can upgrade to a paid account on your <quote>Account</quote> page. All paid accounts come with an initial 30 day free trial.</p></li> 

<li id="faq-paid"><h4>Who needs a paid account?</h4>
<p>Projects that need over 500 videos, more than one administrator, or the ability to customize their site beyond logo and background (with custom CSS, a custom domain, or a custom theme) will require a paid account. Advertising is also permitted solely on paid accounts. </p></li>

<li li="faq-documentation"><h4>I have more questions!</h4>
<p>Want to learn more about how Miro Community works? We've set up a wiki-based manual at <a href="https://develop.participatoryculture.org/index.php/MiroCommunityManual">https://develop.participatoryculture.org/index.php/MiroCommunityManual</a>. Feel free to add to the wiki and let us know if it's missing a section you want - questions [at] mirocommunity.org.
</ul> 
</li></ul> 
 
 
<ul> 
<li id="faq-gettingstarted"> 
<h3>Getting Started</h3> 
<ul> 
<li id="faq-sitecreation"><h4>How do I make a Miro Community site?</h4> 
<p>Go to <a href="http://mirocommunity.org/signup/" title="Signup for 
Miro Community">http://mirocommunity.org/signup/</a>. You will be asked 
to provide a username, password, email, and a URL for your site. Once 
you click Create my Site, you can immediately start updating your site. If you have chosen a paid account, you will need to first enter your payment information through Paypal.</p></li> 
 
<li id="faq-youtubeuser"><h4>How do I add a YouTube User's Videos to my 
Miro Community?</h4> 
<p>You can add Youtube, blip.tv and Vimeo user feeds to Miro Community 
sites by copying and pasting the URL of the user profile into the Add 
Source area of your Manage Sources page. For all other kinds of feeds, 
including YouTube favorites and playlists, you will need to generate a 
media RSS feed and submit that as a source.</p></li> 
 
<li id="faq-videosources"><h4>Can Miro Community accept videos from 
anywhere?</h4> 
<p>Miro Community accepts any video that can be embedded. It works 
especially smoothly with videos from YouTube, blip.tv, and Vimeo, but 
any video that can be embedded can be posted to the site. For feeds, 
Miro Community can accept media embedded RSS feeds. For more information
 on feeds, see <a 
href="http://makeinternettv.org/promote/subscribe.knowyourfeed.php" 
title="Make Internet TV">Make Internet TV</a>.</p></li> 
 
<li id="faq-permission"><h4>Do I need permission to post someone else's 
video to a Miro Community site?</h4> 
<p>Because Miro Community works by embedding videos hosted at other 
sites, there is no need to request permission to post other peoples' 
videos to a Miro Community site. Videos that have embedding turned off 
cannot be played through Miro Community, and a link to the original 
video site will be preserved whenever a video is embedded.</p></li> 
</ul> 
</li> 
</ul> 
 
<ul> 
<li id="faq-running"> 
<h3>Running Your Miro Community Site</h3> 
<ul> 
<li id="faq-statistics"><h4>I want statistics and metrics!</h4> 
<p>We recommend using Google analytics code to track your statistics. Go
 to <a href="http://www.google.com/analytics/" title="Google Analytics">http://www.google.com/analytics/</a>
 to get set up, then copy and paste the code into your footer area. Additional statistics are something we're planning on adding in the near future.</p></li>
 
 
<li id="faq-seo"><h4>What do I need to do to get my Miro Community site 
to show up on Google or other search engines?</h4> 
<p>The only thing you need to do to get your site indexed in most major search engines is to have another site that links to yours. Miro Community sites quickly rate well in search engines for
 their topic. In order to increase your search ranking, make 
sure to tag and categorize your materials and include keywords in your 
page, your sidebar, your title and your tagline. The more metadata you add for your videos, the more likely they are to come up in searches.</p></li> 
 
<li id="faq-findingvideos"><h4>How do I find more videos to use on the 
site?</h4> 
<p>You can search for videos through Miro Community on the Manage 
Sources page, which is in the administrators area. Type in key words in 
the Search Video Sites area, choose to have your results listed by 
relevance or date, and search. Your results will be from YouTube, 
blip.tv. If you have a search you like and think you'll want 
any new items from that search to come into your queue, you can choose 
to save your search as a source. You can also search for items within a 
video site and then submit those video URLs or feeds to the Miro 
Community site. Another way to find materials for your site is to look to relevant blogs and websites in your community, and see if they have associated video feeds. These sites may have links to other relevant spaces with further video resources.</p></li> 
</ul> 
</li> 
</ul>  
 
<ul> 
<li id="faq-problems"> 
<h3>Errors, Problems, Spam, Etc.</h3> 
<ul> 
<li id="faq-error"> <h4>I have an error on my Miro Community site - what
 should I do?</h4></li> 
<p>If you hit a 500 Internal Service Error, email support [at] pculture.org
 with what you were doing at the time the error hit, and whether it has 
happened multiple times. Please include what browser you were using and any additional information. Also try reloading your site a minute later to see if the problem persists.</p> 
 
 <li id="faq-gone"><h4>The site I made is gone!</h4>
 
 <p>We deactivate sites that have not been logged in to for 2 months and have less than 5 videos. This allows us to free up resources for active sites. If you would like to re-create your site, feel free to do so at http://mirocommunity.org/signup/.</p></li>
 
<li id="faq-browser"><h4>Why does the site look strange in my browser?</h4>
 
<p>We try to make sure Miro Community will look good in all modern 
browsers, but there are bound to be some kinks. Try updating to the 
latest version of your browser, and if the problem still exists, feel 
free to let us know at questions [at] pculture.org.</p></li> 
 
<li id="faq-spam"><h4>How can I protect against spam?</h4> 
<p>Miro Community includes reCaptcha for comments, which should cut 
down on most spam. You can also choose to moderate all comments and/or 
limit commenting to logged in users through the Settings page. You can also limit the ability to submit videos to logged in users, but we have not seen this be much of a problem.</p></li>
 
 
<li id="faq-editinfo"><h4>How can I edit information, metadata, or a 
thumbnail for a video?</h4> 
<p>When a video is in the review queue, an admin can edit the category, 
date, title, thumbnail, author, tags and website by clicking the Edit links next to the 
field when the video is selected. Once the video has been approved, you 
can edit most fields on the video page with Edit links, and can change 
the embed code and other fields through the bulk edit page on the 
administrative side.</p></li> 
 
<li id="faq-users"><h4>How can users sign up on my Miro Community site?</h4>
 
<p>Users can sign up for your site using the Login link in the lower 
right-hand corner of the screen - this includes the option to login using Facebook, Twitter or OpenID. You can also create user accounts from the 
administrative side on the Users page. If you want a user to be able to 
log in, you will need to be sure to give them a password.</p></li> 
</ul> 
</li> 
</ul> 
 
<ul> 
<li id="faq-customization"> 
<h3>Customization</h3> 
<ul> 
<li id="faq-branding"><h4>How can I brand my Miro Community site?</h4> 
<p>One of the great things about Miro Community is its flexibility. To 
get started on customizing your website, you can upload a logo and 
background through the "Settings" administrative page. For more advanced
 customization, paid account holders can add custom CSS on the "Settings" administrative 
page.</p></li> 
 
<li id="faq-customize"><h4>Can I customize it to look like my website or
 include it within my website?</h4> 
<p>We have full Django templating so that every portion of the site can 
be 100% customized from the HTML to the CSS and up. Custom domain names 
allow you to seamlessly embed Miro Community into any web domain. Full 
Django templating and domain names are only available on premium accounts. You can upgrade to a premium account on the <quote>Account</quote> area of your site, or sign up for a new paid site <a href-"http://mirocommunity.org/signup/">here.</a></p></li> 
 
<li id="faq-layout"><h4>How can I change the layout of my site?</h4> 
<p>Miro Community offers 4 basic themes for your site - Scrolling, List,
 Category and Blue. These can be found on the Themes page on the admin 
side of the site, under Settings. To change your theme, simply activate 
the desired theme. All content of your site will remain the same. 
Users with paid accounts can also upload their own Django templates (see above), 
including variations on the basic themes.</p></li> 
 
<li id="faq-advertising"><h4>Can I advertise on my site?</h4> 
<p>We restrict the ability to run advertisements to paid accounts. If we discover advertising on your free site, the site will be disabled.</p></li>
 
 
<li id="faq-server"><h4>Can I run Miro Community on my own server?</h4> 
<p>Yes, Miro Community is Free and Open Source Software, written in 
Python using the Django framework. The source code can be <a 
href="https://git.participatoryculture.org/localtv" title="Miro 
Community source code">found here</a>.You can get further documentation on installing Miro Community <a href="https://develop.participatoryculture.org/index.php/Run_your_own_Miro_Community_site" title="Installation Documentation">here</a>. MiroCommunity 1.1 was released on 2010-08-18. The source can be downloaded <a href="http://ftp.osuosl.org/pub/pculture.org/mirocommunity/Miro%20Community-1.1.tar.gz" title="Miro Community 1.1 tarball">here</a>.</p></li> 
</ul> 
</li> 
</ul>

<ul>
<li id="faq-account"><h3>Accounts and Payment</h3>
 <ul>
 <li id="faq-trial"><h4>How does the free trial work?</h4>
 <p>Upon signing up for a paid account, we will request your payment information,
but will not charge you for one month. Unless you cancel or change the level for your paid account, we will begin billing you after the free 30 day trial. If, during your trial, you decide to upgrade or downgrade, your trial will end and you will be billed. Each site is eligible for one free trial.</p></li>
 <li id="faq-later"><h4>Can I get the free trial if I upgrade later?</h4>
 <p>Yes! If you sign up for a free site you can always upgrade later, and you will still be eligible for your free trial. </p></li>
 <li id="faq-changeplans"><h4>Can I change plans in the future?</h4>
 <p>Yes! You can change plans at any time. Your site will immediately switch to the new plan. You will need to go through the Paypal process to adjust the cost.</li>
 <li id="faq-upgradepayment"><h4>How does payment work if I upgrade/downgrade?</h4>
 <p>If you already have a paid account and choose to upgrade to a higher level, you will create a new recurring payment through Paypal. We will then manually cancel you old recurring payment within 24 hours. When downgrading between paid accounts, you will be sent to Paypal to modify the amount. When canceling your paid account, you will be taken to Paypal and will need to cancel the recurring payment there. If you have any concerns or feel your payment has not been handled properly, please contact support [at] mirocommunity.org.</p></li>
 <li id="faq-stoppayment"><h4>What happens if I stop paying?</h4>
 <p>If you cancel the recurring payment at PayPal without setting up a new payment, we adjust your site to the Basic plan. If for some other reason we do not receive the recurring transaction, we do not take an immediate action; we will notify you and ask you to restore the payment method. You will have 7 days to do so; at that point, if no payment method is provided, we will downgrade your site to the Basic account level.</p></li>
 <li id="faq-payment"><h4>What form of payment do you accept?</h4>
 <p>All transactions are handled through Paypal. You will need to make a Paypal account - if you do not have one, you will be guided through the process of creating one.</p></li>
 <li id="faq-invoice"><h4>Can you send me an invoice?</h4>
 <p>Paypal will send a receipt each month you are billed. If you need a specific
contract or an SLA, please contact us about enterprise solutions -questions@mirocommunity.org.</p></li>
</ul> 
</li> 
</ul> 
 
<ul> 
<li id="faq-pcf"><h3>Miro Community and the Participatory Culture 
Foundation</h3> 
<ul> 
<li id="faq-funding"><h4>How is Miro Community funded?</h4> 
<p>Miro Community is generously funded through a grant from <a 
href="http://www.knightfoundation.org/" title="the Knight Foundation">the
 Knight Foundation</a> and monthly fees for paid accounts.</p></li> 
 
<li id="faq-suggestions"><h4>Where can I send my suggestions?</h4> 
<p>Send suggestions to mirocommunity [at] pculture.org. We will try to 
get back to you as quickly as possible. Problems and questions should go to questions [at] mirocommunity.org.</p></li>
 
 
<li id="faq-pcf"><h4>Who is the Participatory Culture Foundation?</h4> 
<p>PCF is the non-profit organization that develops Miro Community. Find
 out more at <a href="http://pculture.org/" title="Participatory Culture
 Foundation">pculture.org</a>.</p></li> 
 
<li id="faq-contact"><h4>How can I get in touch with Miro Community?</h4>
<p>If you have a question not answered here, feel free to get in touch by emailing questions[at]mirocommunity.org.</p></li>
</ul> 
</li> 
</ul> 
		
</div> 
</div>

{% endblock %}
