{% extends "mirocommunity_site/__base.html" %}

{% block content %}
<div id="intro">
	<h1>Features</h1>
</div>
<ul id="featuresnav">
	<li id="management" class="current">Easy Video Management</li>		
	<li id="presentation">Elegant Video Presentation</li>
	<li id="engagement">Community Engagement</li>
	<li id="premium">Premium Features</li>	
	<li id="morefeatures">Upcoming Features</li>	
</ul>
<div id="featuresmatrix">

	<!-- Easy Video Management -->
	<div class="management">	
			<ul class="matrixheader">
			<li>Flexible Content Importing</li>
			<ul class="matrixfeature">
				<li class="alt">Miro Community allows you to import videos from almost any source. Bring in videos automatically or individually using:</li>
				<ul class="subfeature">
						<li>RSS</li>
						<li>Keyword Searches of Popular Video Sites</li>
						<li>User Profiles for Popular Video Sites</li>
						<li>Embed Code</li>
						<li>Video Files</li>
					</ul>
				</ul>
			</ul>
		
		<ul class="matrixheader">
			<li>Edit and Manage Meta-data</li>
			<ul class="matrixfeature">
				<li class="alt">Automatically import meta-data for many videos including
descriptions, titles, thumbnail, tags and categories.</li>
				<li>Enable users to submit tags for videos</li>
				<li class="alt">Individually edit video meta-data adding custom 
titles, descriptions, categories, tags, links and thumbnails.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
			<li>Simple Curation</li>
			<ul class="matrixfeature">
				<li class="alt">Highlight videos for extra exposure by featuring 
them, which gives them a prominent spot on your site's home page.</li>
				<li>Define a separate hierarchy of categories for use on each site 
within your organization, if desired, providing as much flexibility of 
organization as needed.</li>
				<li class="alt">Automatically categorize videos based on their 
source.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
			<li>Create, Export &amp; Distribute Feeds</li>
			<ul class="matrixfeature">
				<li class="alt"><strong>Categories:</strong> Each category you 
create automatically generates an RSS feed, making the hard work you put
into organizing your site portable. Easily place these feeds in other 
sites and podcasting applications such as iTunes, Miro or your 
university's custom podcast player.</li>
				<li><strong>New Videos:</strong> As new content flows into your 
sites, it appears in a unique feed for each site that highlights all new
content.</li>
				<li class="alt"><strong>Featured Videos:</strong> Each site 
automatically generates a feed containing videos featured by its 
administrators.</li>
				<li><strong>Popular Videos:</strong> Miro Community tracks viewing 
behavior, and uses this data to generate a list of the most popular 
content on a given site.</li>
				<li class="alt"><strong>Authors:</strong> Each user generates their own RSS feed so that you can follow your favorites as they appear.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
			<li>Video Widget</li>
			<ul class="matrixfeature">
				<li class="alt">We've also developed a widgeting system that lets you build custom Miro Community widgets for websites. The widget is fully customizable with a variety of shapes and sizes. Currently, widgets can be created for New, Popular and Featured videos. In the future, we will also enable you to have a widget for different categories.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
		<li>Bookmarklet</li>
		<ul class="matrixfeature">
			<li class="alt">Submit videos to your site with one click without leaving the page you're currently browsing. </li>
			</ul>
			</ul>
	</div>	

	<!-- Elegant Video Presentation -->
	<div class="presentation">				
		<ul class="matrixheader">
			<li>Beautiful layout and design, and fully customizable</li>
			<ul class="matrixfeature">
				<li class="alt">Miro Community comes with templates that provide 
the commonly needed design features for 
an elegant video site.</li>
				<li>You can customize the presentation to your heart's content:</li>
					<ul class="subfeature">
						<li>Sites can be hosted by us but can appear on 
www.yourDomain.com (premium feature)</li>
						<li>Customize your CSS to govern how the site looks</li>
						<li>Pick from a variety of layouts and templates</li>
						<li><a href="https://develop.participatoryculture.org/trac/democracy/wiki/MiroCommunity">Free 
and open source</a> software, written in Python on Django framework</li>
					</ul>
			</ul>
		</ul>
		<ul class="matrixheader">
			<li>Editorial Control</li>
			<ul class="matrixfeature">
				<li class="alt">With our new <q>blue theme</q> layout, you can editorialize on top of videos in a seamless fashion. This allows you to take the strengths of Miro Community's video management and presentation systems and combine them with the editorial power of a blog.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
			<li>Video sites for every part of your organization</li>
			<ul class="matrixfeature">
				<li class="alt">Create any number of sites for different community 
organizations, schools, courses, or centers. Each with their own 
administrators and content. Give freedom and flexibility to community 
members, who can feature whatever content they choose.</li>
				<li>Pull the best content from these sites together into a central 
video portal, curated by the communications department to represent your
organization appropriately.</li>
			</ul>
		</ul>
	</div>		
	
	<!-- Community Engagement -->
			<div class="engagement">	
				<ul class="matrixheader">
			<li>Community Engagement</li>
			<ul class="matrixfeature">
				<li class="alt">Comments allow each video to 
become it's own discussion forum. For especially interesting and 
controversial videos, the comments section often holds as much insight 
and interest as the video itself.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
			<li>Video Submission</li>
			<ul class="matrixfeature">
				<li class="alt">Audience members can submit videos for 
consideration by a site's curators. In the school of medicine or 
business, for example, students can submit videos from outside sources 
for their peers to enjoy and discuss, or they can create and submit 
their own videos.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
			<li>Popularity Rankings</li>
			<ul class="matrixfeature">
				<li class="alt">As audience members watch videos, they influence 
which videos get promoted. The content of the site, therefore, is to 
some degree curated automatically according to the tastes of the 
audience members.</li>
			</ul>
		</ul>		</div>	
	
	<!-- Premium -->
	<div class="premium">	
	<ul class="matrixheader">
	<li>Your Own Domain</li>
	<ul class="matrixfeature">
	<li class="alt">Have your Miro Community site appear at a domain you have purchased or at a sub-domain of your existing site for further integration.</li>
	</ul>
	</ul>
	
	<ul class="matrixheader">
	<li>Custom Themes</li>
	<ul class="matrixfeature">
	<li class="alt">Premium accounts have access to an easy-to-use themeing system based on the Django Python framework, allowing you to make edits using CSS/HTML or Django so that your layouts are infinitely customizable. </li>
	</ul>
	</ul>
	
	<ul class="matrixheader">
	<li>Add Pages</li>
	<ul class="matrixfeature">
	<li class="alt">Easily add pages with your header built in - add a page for images, a links page or anything that fits your site.</li>
	</ul>
	</ul>
				
	</div>	

	
	<!-- Upcoming Features -->
	<div class="morefeatures">	
		<ul class="matrixheader">
			<li>Lists</li>
			<ul class="matrixfeature">
				<li class="alt">We're developing a Lists feature which will allow site editors and users to create lists of videos, allowing for further customization and site interaction. Users could, for example, create a playlist of their favorites, or pull together videos from a conference.</li>
			</ul>
		</ul>
		
		<ul class="matrixheader">
			<li>Further Integration of Social Networking</li>
			<ul class="matrixfeature">
				<li class="alt">While you can already Share videos through Facebook and Twitter, we're working to allow you to login through your favorite social networking site and <q>Like</q> videos directly on the site through Facebook's Open Graph.</li>
			</ul>
		</ul>
		<ul class="matrixheader">
			<li>More Widgets</li>
			<ul class="matrixfeature">
				<li class="alt">We're working on a system that will give you even more flexibility in creating a variety of widgets with ease.</li>
			</ul>
		</ul>
	</div>		
	
	
</div>
{% endblock %}
