{% extends "mirocommunity_site/__base.html" %}
{% load static from staticfiles %}

{% block title %}Features — {{ block.super }}{% endblock %}

{% block content-inner %}
<h1>Features you will love</h1>
<div class="l-thirds l-section">
	<div>
		<figure class="taped framed">
			<img src="{% static 'mirocommunity_site/images/content/features/integration.png' %}">
			<h3>Integration &amp; Sharing</h3>
		</figure>
	</div>
	
	<div>
		<figure class="taped framed">
			<img src="{% static 'mirocommunity_site/images/content/features/elegance.png' %}">
			<h3>Elegant Video Presentation</h3>
		</figure>
	</div>
	
	<div>
		<figure class="taped framed">
			<img class="features-image" src="{% static 'mirocommunity_site/images/content/features/easy.png' %}">
			<h3>Easy Video Management</h3>
		</figure>
	</div>
</div>

<div class='l-section clearfix'>
	<img class="l-floatright" src="{% static 'mirocommunity_site/images/content/features/management.png' %}">
	<h2>Easy Video Management</h2>
	<p>Miro Community lets you rapidly bring together video from any source into a beautiful video website.  What’s most powerful is how quickly you can manage incoming sources.  Add videos manually, accept user submissions, or connect accounts from Vimeo, YouTube, and RSS feeds.  Any source can automatically be approved for your front page, or you can quickly manage the incoming queue and just publish the best ones.  It’s simple the fastest way to curate a great video site.</p>
</div>
<div class='l-section clearfix'>
	<img class="l-floatleft" src="{% static 'mirocommunity_site/images/content/features/presentation.png' %}">
	<h2>Elegant, Powerful Presentation</h2>
	<p>Miro Community helps you make a gorgeous video site in seconds.  Use one of our existing templates or customize your own theme with any style you design.</p>
</div>
<div class='l-section clearfix'>
	<h2>Integrate &amp; Share</h2>
	<img class="l-floatright" src="{% static 'mirocommunity_site/images/content/features/sharing.png' %}">
	<p>Miro Community can integrate with your own website &mdash; set it up at your own domain name or make it a section of your existing site. Built-in integration with Facebook, Twitter, and Google+ helps your content spread quickly.</p>
</div>
{% endblock %}
