<!DOCTYPE html>
<html>
<head>
<title>Miro Community: Deactivated for Inactivity</title>
<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <div id="wrap">
    <div id="header" style="padding-bottom: 30px;">
      <h1>Miro Community</h1>
    </div>
    <h1 style="text-align: center;">This site has been deactivated for inactivity.</h1>
    <div>We deactivate sites that have had no logins for 3 months, in order to
free up resources. If this site is still in use, please contact anne at
pculture.org about reactivation.</div>
  </div>
</body>
</html>
