{% extends 'mirocommunity_site/__base.html' %}
{% load static from staticfiles %}

{% block title %}{{ block.super }}: The easiest way to create a video site or contest{% endblock %}

{% block content-inner %}
	<h1>The easiest way to make a video website</h1>

	<div class='l-thirds l-section'>
		<div>
			<figure class='framed'>
				<img src="{% static 'mirocommunity_site/images/content/index/setup.png' %}">
			</figure>
			<h3>Setup is Easy, Beautiful and Fast</h3>
			<p>Set up a site in minutes - let us take care of updates and compatibility - no software to install. Can be used on any browser, on any computer. Works with all the best video hosts, including your own hosting - no need to change your workflow.</p>
		</div>
		<div>
			<figure class='framed'>
				<img src="{% static 'mirocommunity_site/images/content/index/sources.png' %}">
			</figure>
			<h3>Bring in Video from Everywhere</h3>
			<p>Collect videos from YouTube, Vimeo, iTunes U, Blip or self-hosted sites for a one stop video experience. Include individual videos or add updating feeds to keep up with your sources without additional searching.</p>
		</div>
		<div>
			<figure class='framed'>
				<img src="{% static 'mirocommunity_site/images/content/index/curate.png' %}">
			</figure>
			<h3>Quickly Curate Streams of Content</h3>
			<p>Review incoming videos, accept user submissions, and tag videos to fit your needs. There's no faster way to manage a video site - requires very little staff time to reach a high quality level.</p>
		</div>	
	</div>
	<div class='l-quarters l-section'>
		<div>
			<h3 class='icon icon-house'>Local communities</h3>
			<p>Create connections between producers and nearby audiences.</p>
		</div>
		<div>
			<h3 class='icon icon-parthenon'>Universities</h3>
			<p>Bring together content in a branded video portal. <a href="http://video.elon.edu/"> Example</a>.</p>
		</div>
		<div>
			<h3 class='icon icon-trophy'>Video contests</h3>
			<p>Use our powerful platform to accept submissions and vote. <a href="http://whyopenedmatters.org/"> Example</a>.</p>
		</div>
		<div>
			<h3 class='icon icon-movie-reel'>Video publishers</h3>
			<p>Organize your videos for easy access and distribution.</p>
		</div>
	</div>

	<div class="l-bordered-box">
	<div class="l-thirds">
		<div>
			<h2 class='accent'>Featured Sites</h2>
			<p>Miro Community sites run the gamut: universities, local communities, and more.</p>
			<p><a href="https://github.com/pculture/mirocommunity">Get the code</a></p>
		</div>
		<div>
			<a class="wrapping" href="http://whyopenedmatters.org/">
				<figure>
					<div class='framed'>
						<img src="{% static 'mirocommunity_site/images/gal_2.jpg' %}">
					</div>
					<figcaption><h3>Creative Commons Contest</h3></figcaption>
				</figure>
			</a>
		</div>
		<div>
			<a class="wrapping" href="http://pittsburghonvideo.org/">
				<figure>
					<div class='framed'>
						<img src="{% static 'mirocommunity_site/images/gal_3.jpg' %}">
					</div>
					<figcaption><h3>Pittsburgh on Video</h3></figcaption>
				</figure>
			</a>
		</div>
	</div></div>
</div>
{% endblock %}