{% extends 'mirocommunity_site/__base.html' %}

{% block content %}
{% comment %}
<figure>
	<img src="/assets/images/banner.png" alt="Banner" title="The easiest way to make a video website" />
	<a href="/signup/" title="Get started">Build a Video Community</a>
</figure>
{% endcomment %}

<h2>What makes miro community so powerful?</h2>
<ul class="b_three">
	<li>
		<img src="/assets/images/step_1.png" alt="image"/>
		<h4>Setup is Easy, Beautiful and Fast</h4>
		<p>Set up a site in minutes - let us take case of updates and compatibility - no software to install. Can be used on any browser, on any computer. Works with all the best video hosts, including your own hosting - no need to change your workflow.</p>
	</li>
	<li>
		<img src="/assets/images/step_2.png" alt="image"/>
		<h4>Bring in Video from Everywhere</h4>
		<p>Collect videos from YouTube, Vimeo, iTunes U, Blip or self-hosted sites for a one stop video experience. Include individual videos or add updating feeds to keep up with your sources without additional searching.</p>
	</li>
	<li class="l">
		<img src="/assets/images/step_3.png" alt="image"/>
		<h4>Quickly Curate Streams of Content</h4>
		<p>Review incoming videos, accept user submissions, and tag videos to fit your needs. There's no faster way to manage a video site - requires very little staff time to reach a high quality level.</p>
	</li>	
</ul>
<div class="clear"></div>
<ul class="s_four">
	<li>
		<span class="home"></span>
		<h4>Local communities</h4>
		<p>Create connections between producers and nearby audiences.</p>
	</li>
	<li>
		<span class="uni"></span>
		<h4>Universities</h4>
		<p>Bring together content in a branded video portal. <a href="http://ondemand.duke.edu/"> Example</a>.</p>
	</li>
	<li>
		<span class="cup"></span>
		<h4>Video contests</h4>
		<p>Use our powerful platform to accept submissions and vote. <a href="http://whyopenedmatters.org/"> Example</a>.</p>
	</li>
	<li class="l">
		<span class="vid"></span>
		<h4>Video publishers</h4>
		<p>Organize your videos for easy access and distribution.</p>
	</li>
	
</ul>
<div class="clear"></div>

<section class="gallery sec">
	<aside>
		<h3>Featured Sites</h3>
		<p>Miro Community sites run the gamut: universities, local communities, and more.</p>
		<a href="/signup/" title="Start now">Create a Site</a>
	</aside>
	<ul>
		<li>
			<a href="http://skiddplayer.com/"><img src="assets/images/gal_1.jpg" alt="image" /></a>
			<p>SkiddPlayer</p>
		</li>
		<li>
			<a href="http://whyopenedmatters.org/"><img src="assets/images/gal_2.jpg" alt="image" /></a>
			<p>Creative Commons Contest</p>
		</li>
		<li class="l">
			<a href="http://pittsburghonvideo.org/"><img src="assets/images/gal_3.jpg" alt="image" /></a>
			<p>Pittsburgh on Video</p>
		</li>
	</ul>
	<div class="clear"></div>
</section>
{% endblock %}