{% extends "mirocommunity_site/__base.html" %}
{% load static from staticfiles %}

{% block title %}Local Media — {{ block.super }}{% endblock %}

{% block pre-content %}
	<figure class="banner banner-shadow">
		<h1>Building Participatory Local TV Online</h1>
		<img src="{% static 'mirocommunity_site/images/content/local-media/banner.png' %}">
	</figure>
{% endblock %}

{% block content %}
<div class='l-section clearfix'>
	<p>Members of your community are posting video online. Whether it's schoolboard discussions, oral histories, local businesses and nonprofit videos, or discussions of local news and events, online video produced by local citizens continues to be on the rise.</p>
	<p>Yet communities often lack a space in which to share and connect around these videos, and local news outlets miss out on valuable content when they have no space for community videos. With Miro Community, you can develop a video front page for your community, bringing together content creators and local audiences and organizing all the great video out there. Think of it as a local TV channel filled with content curated from across the web with what is relevant to your town.</p>
	<p>These sites may be run by local news outlets, public access and public broadcasting stations, citizen journalism initiatives or enthusiastic citizens. Thanks to a grant from the Knight Foundation, we are pleased to provide discount accounts to many non-profit local media sites, and will work with you to make your site shine. So sign up now and get your community online!</p>
	<a href="/pricing/"><img class="signup-now" src="{% static 'mirocommunity_site/images/signup-now.png' %}" alt="Sign Up Now"></a>
</div>
{% endblock %}
