{% extends "mirocommunity_site/__base.html" %}

{% load url from future %}

{% block title %}Pricing — {{ block.super }}{% endblock %}

{% block content-inner %}
<div class="l-section l-quarters">
  {% for tier in tiers %}
    <div>
      <h2{% if tier.price %} class="accent"{% endif %}>{{ tier.name }}</h2>
      <h3>{% if tier.price %}${{ tier.price }}/month{% else %}Completely free{% endif %}</h3>
      <ul>
        <li>Your site, logo &amp; background</li>
        {% if tier.custom_domain %}
          <li>Custom domain</li>
        {% endif %}
        {% if tier.custom_css %}
          <li>Custom CSS</li>
        {% endif %}
        <li><strong>{% if tier.video_limit %}{{ tier.video_limit }}{% else %}Unlimited{% endif %}</strong> videos</li>
        <li><strong>{% if tier.admin_limit == 0 or tier.admin_limit %}{{ tier.admin_limit|add:1 }}{% else %}Unlimited{% endif %}</strong> administrator account{% if tier.admin_limit != 0 %}s{% endif %}</li>
        {% if tier.ads_allowed %}
          <li>You can run advertising</li>
        {% endif %}
        {% if tier.custom_themes %}
          <li>Fully custom templating</li>
        {% endif %}
      </ul>
      <p><a href="{% url 'mirocommunity_site_create' %}?tier_name={{ tier.slug }}">Start a 30 Day Free Trial</a></p>
    </div>
  {% endfor %}
</div>

<div class='l-thirds-padded'>
  <div>
    <h2>Enterprise</h2>
    <p>Does your organization require a service level agreement, special hosting, a customized template, or additional features? <a href="/enterprise/">Learn more</a> and contact us to discuss your needs: <a href="mailto:enterprise@pculture.org">enterprise@pculture.org</a></p>
  </div>

  <div>
    <h2>Calling Local Communities</h2>
    <p>Are you creating a hyperlocal site for your city or town? If so, you might qualify for special rates! Please send us an email and let us know what you're up to: <a href="mailto:support@pculture.org">support@pculture.org</a></p>
  </div>

  <div>
    <h2>Advantages of Miro Community</h2>
    <ul>
      <li>Run a beautiful video presentation website on your own domain, without having to maintain the software.</li>
      <li>Works with your existing video hosting setup and workflow - no need to re-post videos.</li>
      <li>Works with free video hosting services, if you don't already have videos online.</li>
      <li>Lets you bring together videos from a wide-variety of hosts and sources, into one curated experience.</li>
      <li>Automatically import and publish RSS feeds of videos from any source.</li>
      <li>Runs on open-source software.</li>
    </ul>
  </div>
</div>
{% endblock %}

