{% extends "mirocommunity_site/__base.html" %}

{% block content %}
        	<div class="local_masthead">Building Participatory Local TV Online</div>
        		
<iframe id="localmap" width="940" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=116805332274293426107.000486e1d9c3e17454932&amp;ll=37.230328,-97.558594&amp;spn=31.316057,82.529297&amp;z=4&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=116805332274293426107.000486e1d9c3e17454932&amp;ll=37.230328,-97.558594&amp;spn=31.316057,82.529297&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left">Miro Community Sites</a> in a larger map</small>       	</div>
		<h1>Does your town have a lot of video, but nowhere to bring it together?</h1>
		<h2>We can help.</h2>
		<p> Members of your community are posting video online. Whether it's schoolboard discussions, oral histories, local businesses and nonprofit videos, or discussions of local news and events, online video produced by local citizens continues to be on the rise.   </p>
		<p>Yet communities often lack a space in which to share and connect around these videos, and local news outlets miss out on valuable content when they have no space for community videos. With Miro Community, you can develop a video front page for your community, bringing together content creators and local audiences and organizing all the great video out there. Think of it as a local TV channel filled with content curated from across the web with what is relevant to your town. </p>
		<p> These sites may be run by local news outlets, public access and public broadcasting stations, citizen journalism initiatives or enthusiastic citizens. Thanks to a grant from the Knight Foundation, we are pleased to provide free premium accounts to many non-profit local media sites, and will work with you to make your site shine. So <a href="http://www.mirocommunity.org/signup/" title="Miro Community Signup">sign up now</a> and get your community on the map!</p>
		<p>Current Local Partners include:
	<ul>
		<li>The Bay Area Video Coalition</li>
		<li>Boreal Access</li>
		<li>Quote, UnQuote Community Media Center</li>
		<li>Kickapoo Valley Video Collective</li>
		<li>Vermont Community Access Network</li>
		<li>WDET Detroit</li>
		<li>...and more!</li>
	</ul>
	
{% endblock %}
