{% extends "mirocommunity_site/__base.html" %}

{% load url from future %}

{% block content-inner %}
<div class="l-section l-quarters">
  <div>
    <h2>Basic</h2>
    <h3>Completely Free</h3>
    <ul>
      <li>Your own site, logo, &amp; background.</li>
      <li>Up to <strong>500</strong> videos.</li>
      <li>1 administrator account.</li>
    </ul>
    <p><a href="{% url 'mirocommunity_site_create' tier_name='basic' %}">Get Started</a></p>
  </div>

  <div>
    <h2 class="accent">Plus</h2>
    <h3>${{ params.NAME_TO_COST.plus }}/month</h3>
    <ul>
      <li>Your site, logo &amp; background</li>
      <li>Custom Domain</li>
      <li>Custom CSS</li>
      <li><strong>1,000</strong> Video Limit</li>
      <li><strong>5</strong> Administrator Accounts</li>
    </ul>
    <p><a href="{% url 'mirocommunity_site_create' tier_name='plus' %}">Start a 30 Day Free Trial</a></p>
  </div>

  <div>
    <h2 class="accent">Premium</h2>
    <h3>${{ params.NAME_TO_COST.premium }}/month</h3>
    <ul>
      <li>Your site, logo &amp; background</li>
      <li>Custom Domain</li>
      <li>Custom CSS</li>
      <li><strong>5,000</strong> Video Limit</li>
      <li><strong>Unlimited</strong> Administrator Accounts</li>
      <li>You can run advertising</li>
    </ul>
    <p><a href="{% url 'mirocommunity_site_create' tier_name='premium' %}">Start a 30 Day Free Trial</a></p>
  </div>

  <div>
    <h2 class="accent">Max</h2>
    <h3>${{ params.NAME_TO_COST.max }}/month</h3>
    <ul>
      <li>Your site, logo &amp; background</li>
      <li>Custom Domain</li>
      <li>Custom CSS</li>
      <li><strong>25,000</strong> Video Limit</li>
      <li><strong>Unlimited</strong> Administrator Accounts</li>
      <li>You can run advertising</li>
      <li>Fully Custom Templating</li>
    </ul>
    <p><a href="{% url 'mirocommunity_site_create' tier_name='max' %}">Start a 30 Day Free Trial</a></p>
  </div>
</div>

<div class='l-25-40-35'>
  <div>
    <h2>Calling Local Communities</h2>
    <p>Are you creating a hyperlocal site for your city or town? If so, you might qualify for special rates! Please send us an email and let us know what you're up to: <a href="mailto:support@pculture.org">support@pculture.org</a></p>
  </div>

  <div>
    <h2>Are you an enterprise customer?</h2>
    <p>Does your organization require a service level agreement, special hosting, a customized template, or additional features? Contact us to discuss your needs: <a href="mailto:support@pculture.org">support@pculture.org</a></p>
  </div>

  <div>
    <h2>Advantages of Miro Community</h2>
    <ul>
      <li>Run a beautiful video presentation website on your own domain, without having to maintain the software.</li>
      <li>Works with your existing video hosting setup and workflow - no need to re-post videos.</li>
      <li>Works with free video hosting services, if you don't already have videos online.</li>
      <li>Lets you bring together videos from a wide-variety of hosts and sources, into one curated experience.</li>
      <li>Automatically import and publish RSS feeds of videos from any source.</li>
      <li>Runs on open-source software.</li>
    </ul>
  </div>
</div>
{% endblock %}

