{% extends "mirocommunity_site/__base.html" %}

{% block content %}

<div id="intro">
<h1 style="float: none;">Terms of Service</h1>
</div>

<p>By visiting any Miro Community powered site or signing up for the Miro Community service (&quot;Service&quot;), you are agreeing to be bound by the following terms and conditions (&quot;Terms of Service&quot;). Any new features or tools which are added to the current Service shall be also subject to the Terms of Service. You can review the most current version of the Terms of Service at any time at: <a href="http://mirocommunity.org/terms">http://mirocommunity.org/terms</a>. PCF reserves the right to update and change the Terms of Service by posting updates and changes to the Miro Community website. You are advised to check the Terms of Service from time to time for any updates or changes that may impact you.</p>
<h2>Account Terms</h2>
<ul>
    <li> You must be at least 13 years of age. No one under the age of 13 may provide any personal information to PCF or on Miro Community (including, for example, a name, address, telephone number or email address).</li>
    <li> You are responsible for keeping your password secure. PCF cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.</li> 
    <li>  You may not use the service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws) as well as the laws of the United States and the state of Massachusetts.</li> 
    <li> You are responsible for all activity and content (videos, images, links, user comments, etc) that is uploaded, embedded, or posted to your Miro Community site.</li> 
    <li>  A breach or violation of any of the Account Terms as determined in the sole discretion of PCF will result in an immediate termination of your services.</li> 
</ul>
<br />
<h2>General Conditions</h2>
<p>You must read, agree with and accept all of the terms and conditions contained in this User Agreement and the Privacy Policy before you may create a Miro Community site.</p>
<ul>
    <li> We reserve the right to modify or terminate the Service for any reason, without notice at any time.</li>
    <li> We reserve the right to refuse service to anyone for any reason at any time. </li>
    <li> Your use of the Service is at your sole risk. The Service is provided on an &quot;as is&quot; and &quot;as available&quot; basis without any warranty or condition, express, implied or statutory. </li>
    <li> PCF does not warrant that the service will be uninterrupted, timely, secure, or error-free.</li>
    <li> PCF does not warrant that the results that may be obtained from the use of the service will be accurate or reliable.</li>
    <li> You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit Card information is always encrypted during transfer over networks.</li>
    <li> We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party&#39;s intellectual property or these Terms of Service.</li>
    <li> You expressly understand and agree that PCF shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.</li>
    <li> Technical support is only provided to paying account holders and is only available via email or the support discussion group.</li>
    <li> You agree to maintain the &quot;Powered by Miro Community&quot; phrase and link in the footer of your site unless you have negotiated an enterprise contract giving you permission to remove this portion of the site.</li>
    <li> You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by PCF. This does not include the source-code, which is under an <a href="http://www.gnu.org/licenses/agpl.html">AGPL license</a>.</li>
    <li> Verbal or written abuse of any kind (including threats of abuse or retribution) of any Miro Community user or customer, PCF employee, or officer will result in immediate account termination.</li>
    <li> You shall continue to own all content you create for your Miro Community site, but by submitting content to your Miro Community site, you grant PCF a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content for the purpose of displaying, distributing and promoting your site, as well as for PCF's own marketing and promotion of the Service. If you delete the content, PCF will use reasonable efforts to remove it, but you acknowledge that caching or references to the content may not be made immediately unavailable.</li>
    <li> The failure of PCF to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and PCF and govern your use of the Service, superseding any prior agreements between you and PCF (including, but not limited to, any prior versions of the Terms of Service).</li>
    <li> You retain ownership over all content that you submit to a Miro Community account, however, by making your account public, you agree to allow others to view your content.</li>
    <li> PCF does not pre-screen Content and it is in their sole discretion to refuse or remove any Content that is available via the Service.</li>
</ul>

<h2>Payment of Fees</h2>
<ul>
    <li> A valid Paypal (paypal.com) account is required for paying accounts. Free accounts are not required to process a Paypal payment. Enterprise services may be billed through invoice.</li>
    <li> The service will be billed in 30 day intervals. When your billing period is over, Miro Community users will be automatically billed through their Paypal Subscription. Users have five days to bring up and settle any issues with the billing.</li>
</ul>

<h2>Cancellation and Termination</h2>
<ul>
    <li> You may cancel your account at any time by by emailing support [at] mirocommunity.org and asking that your account be removed.</li>
    <li> Once your account is cancelled all of your Content will be immediately removed from our live systems. Since deletion of all data is final please be sure that you do in fact want to cancel your account before doing so. However, backups made before the deletion may still contain the data. </li>
    <li> If you cancel your subscription to the Service in the middle of the month, your Paypal Subscription will stop billing you, and you will not be charged again. You will need to cancel your Paypal subscription separately from requesting that your account be deleted, or request that we cancel the payment.</li>
    <li> We reserve the right to modify or terminate the Miro Community service for any reason, without notice at any time.</li>
    <li> Fraud: Without limiting any other remedies, PCF may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity in connection with the Site.</li>
</ul>

<h2>Modifications to the Service and Prices</h2>
<ul>
    <li> Prices for using Miro Community are subject to change upon 14 days notice from PCF. Such notice may be provided at any time by posting the changes to the Miro Community Site (mirocommunity.org).</li>
    <li> PCF reserves the right at any time to time to modify or discontinue, the Service (or any part thereof) with or without notice.</li>
    <li> PCF shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
</ul>
{% endblock %}
