/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@font-face { font-family: 'HelveticaNeueRegular'; src: url("../fonts/helveticaneue-light-webfont.eot"); src: url("../fonts/helveticaneue-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-light-webfont.woff") format("woff"), url("../fonts/helveticaneue-light-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-light-webfont.svg#HelveticaNeueRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GothamBookRegular'; src: url("../fonts/ufonts.com_gotham-book-webfont.eot"); src: url("../fonts/ufonts.com_gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ufonts.com_gotham-book-webfont.woff") format("woff"), url("../fonts/ufonts.com_gotham-book-webfont.ttf") format("truetype"), url("../fonts/ufonts.com_gotham-book-webfont.svg#GothamBookRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeuemMedium'; src: url("../fonts/helveticaneue-medium-webfont.eot"); src: url("../fonts/helveticaneue-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-medium-webfont.woff") format("woff"), url("../fonts/helveticaneue-medium-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-medium-webfont.svg#HelveticaNeueRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'PTSansRegular'; src: url("../fonts/pts55f-webfont.eot"); src: url("../fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts55f-webfont.woff") format("woff"), url("../fonts/pts55f-webfont.ttf") format("truetype"), url("../fonts/pts55f-webfont.svg#PTSansRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'MuseoSlab500'; src: url("../fonts/museo500-regular-webfont.eot"); src: url("../fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo500-regular-webfont.woff") format("woff"), url("../fonts/museo500-regular-webfont.ttf") format("truetype"), url("../fonts/museo500-regular-webfont.svg#Museo500") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GothamThinRegular'; src: url("../fonts/gotham-thin-webfont.eot"); src: url("../fonts/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-thin-webfont.woff") format("woff"), url("../fonts/gotham-thin-webfont.ttf") format("truetype"), url("../fonts/gotham-thin-webfont.svg#GothamThinRegular") format("svg"); font-weight: normal; font-style: normal; }

.l-floatleft { float: left; margin: 0 38px 10px 0; }

.l-floatright { float: right; margin: 0 0 10px 38px; }

.l-section { margin-bottom: 40px; }

.l-bordered-box { padding-top: 40px; position: relative; background: url(../images/line.png) no-repeat 480px 40px; border-top: #d4d4d4 solid 1px; }
.l-bordered-box > div + div { margin-left: -1px; border-left: #d4d4d4 solid 1px; }

.l-60-40 > div { width: 474.8px; float: left; padding: 0 40px 0 0; }
.l-60-40 > div + div { width: 303.2px; padding: 0 0 0 40px; }

.l-thirds > div { width: 276.474px; float: left; padding: 0 14px 0 0; }
.l-thirds > div:last-child { padding: 0; }

/** Base Body Styles **/
body { width: 100%; min-width: 960px; background: #f0f0f0; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 30px; }

h2 { font-size: 24px; }

h3 { font-size: 18px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 10px; }

/* Remove text-shadow in selection highlight: h5bp.com/i These selection declarations have to be separate Also: hot pink! (or customize the background color to match your design) */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }

::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/** Links **/
a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/** Contain floats: h5bp.com/q **/
.clearfix:before, .l-section:before, .l-60-40:before, .l-thirds:before, .clearfix:after, .l-section:after, .l-60-40:after, .l-thirds:after { content: ""; display: table; }

.clearfix:after, .l-section:after, .l-60-40:after, .l-thirds:after { clear: both; }

.clearfix, .l-section, .l-60-40, .l-thirds { *zoom: 1; }

.container { width: 960px; height: 100%; margin: 0 auto; position: relative; }

/**  header  **/
header { height: 109px; line-height: 110px; border-bottom: 1px solid #313131; }
header .logo { position: absolute; left: 10px; top: 30px; }

.nav { float: right; margin: 0 124px 0 0; }

.nav li { float: left; margin: 0  30px 0 0; }

.nav li a { font-family: "HelveticaNeueRegular", Arial, Helvetica, sans-serif; font-size: 14px; color: #546784; line-height: 21px; text-decoration: none; }

.nav li a:hover, .nav li a:focus, .nav li a.active { text-decoration: underline; }

.create-site-btn { position: absolute; top: 40px; right: 10px; }

.create-site-btn:hover, .create-site-btn:focus { opacity: 0.8; }

/** main  **/
#main { background: url(../images/banner-bg.png) repeat-x top left; min-width: 990px; min-height: 428px; overflow: hidden; position: relative; }
#main:before { background: url(../images/banner-bg-light.jpg) no-repeat top center; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 408px; content: ""; }
#main h1 { font-family: "GothamThinRegular", Arial, Helvetica, sans-serif; font-size: 60px; font-weight: normal; color: #d62622; line-height: 60px; text-align: center; margin-bottom: 30px; text-shadow: 0px 1px 1px #777777; }
#main h2 { font-family: "MuseoSlab500", Arial, Helvetica, sans-serif; font-size: 30px; font-weight: normal; line-height: 30px; margin-bottom: 30px; }
#main h2.accent { color: #d62622; }
#main h2.icon { padding-left: 30px; }
#main h2.icon-tools { background: url(../images/icons/tools.png) no-repeat left 1px; }
#main h2.icon-heart { background: url(../images/icons/heart.png) no-repeat left center; }
#main h3 { font-family: "MuseoSlab500", Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: normal; }
#main p, #main ul, #main ol, #main dl, #main blockquote { color: #333333; font-size: 14px; font-family: Helvetica, Tahoma, Arial, Geneva, sans-serif; line-height: 24px; margin-bottom: 14px; }
#main ul { list-style: square outside; }
#main ol { list-style: decimal outside; }

.taped { position: relative; margin: 14px 0 54px; height: 180px; border: 1px solid #C8CACE; background: #E9ECEE; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: inset 0 0 0 2px white; -webkit-box-shadow: inset 0 0 0 2px white; -o-box-shadow: inset 0 0 0 2px white; box-shadow: inset 0 0 0 2px white; }
.taped:before { content: ""; background: url(../images/tape.png) top center no-repeat; position: absolute; top: -14px; left: 0; width: 100%; height: 24px; }
.taped > h3 { position: absolute; bottom: -36px; width: 100%; text-align: center; }

/**  banner-wrap **/
#banner-wrap { position: relative; height: 425px; overflow: hidden; /* background: url(../images/bg-banner.jpg) repeat-x; height: 425px; width: 100%; min-width: 960px; padding-top: 20px;*/ }

#banner-wrap #banner { position: relative; z-index: 140; height: 405px; padding: 20px 0 0 0; margin: 0px auto; text-align: center; overflow: hidden; }

#banner h1 { position: relative; z-index: 150; font-family: "GothamBookRegular",Arial, Helvetica, sans-serif; font-size: 48px; font-weight: normal; color: #fefefe; text-shadow: 2px 2px 13px  #000000; -moz-text-shadow: 2px 2px 3px #000000; -webkit-text-shadow: 2px 2px 13px #000000; -ms-text-shadow: 2px 2px 13px #000000; -o-text-shadow: 2px 2px 13px #000000; }

#banner .banner-image { position: relative; z-index: 150; margin: 15px 0 0 0; }

/*.banner-shadow { position: absolute; bottom: -18px; left: 0px; z-index:180;}*/
.banner-shadow { position: relative; z-index: 400; bottom: 48px; background: url(../images/banner-bottom-shadow2.png) no-repeat; width: 1033px; height: 35px; margin: 0px auto; }

.lights { position: absolute; z-index: 120; top: 0px; background: url(../images/lights3.jpg) no-repeat; height: 190px; width: 1140px; margin: 0px auto; }

.ie7 .lights { height: 0px; }

/** contents-wrap **/
#contents-wrap { clear: both; position: relative; margin-bottom: 28px; padding-bottom: 10px; }

/** inner-wrap   **/
#contents-wrap #inner-wrap { width: 940px; padding: 20px 10px 30px 10px; margin: 0px auto; font-weight: normal; color: #333333; }

#inner-wrap p { margin-bottom: 20px; line-height: 21px; font-weight: normal; }

#inner-wrap .signup-now { float: right; margin: 0 40px 0 0; }

#inner-wrap .signup-now:hover, #inner-wrap .signup-now:focus { opacity: 0.8; }

/**  page-wrap  **/
.floatpage { background-color: #f8f8f8; -moz-box-shadow: 0 0 20px -2px; -webkit-box-shadow: 0 0 20px -2px; -o-box-shadow: 0 0 20px -2px; box-shadow: 0 0 20px -2px; width: 858px; padding: 40px 40px 90px 40px; margin: 100px auto -50px; }

#page-wrap { clear: both; position: relative; top: -350px; z-index: 300; width: 100%; min-width: 960px; margin-bottom: -350px; }

/**  page-inner-wrap  **/
#page-inner-wrap ul { overflow: hidden; margin: 0 0 10px 0; }

#page-inner-wrap ul li { background: url(../images/bullet.png) no-repeat left 15px; padding: 0 0 0 34px; line-height: 39px; }

#page-inner-wrap a { color: #43b3ee; }

.try-btn { float: right; margin: 0 25px 10px 0; }

.try-btn:hover, .try-btn:focus { opacity: 0.8; }

/**  about-contents  **/
#page-inner-wrap #about-contents .alignleft { float: left; margin: 30px 38px 10px 0; }

#page-inner-wrap #about-contents .alignright { float: right; margin: 30px 0 10px 38px; }

/**  #find-solution  **/
#find-solution { clear: both; overflow: hidden; background: url(../images/gradient-border.png) no-repeat top left; padding: 25px 0 18px 0; }

#find-solution h3 { font-family: "MuseoSlab500", Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal; margin-bottom: 6px; }

#find-solution h2.title-solution { font-family: "GothamThinRegular", Helvetica, Arial, sans-serif; font-size: 30px; font-weight: bold; color: #d62622; text-align: left; margin-bottom: 20px; /*text-shadow: 2px 2px 2px #c9c9c9; -moz-text-shadow: 2px 2px 2px #c9c9c9; -webkit-text-shadow: 2px 2px 2px #c9c9c9; -ms-text-shadow: 2px 2px 2px #c9c9c9; -o-text-shadow: 2px 2px 2px #c9c9c9;*/ }

/**  hosted-site  **/
#find-solution #hosted-site { position: relative; clear: both; float: left; overflow: hidden; width: 380px; padding: 0 20px 25px 0; margin-bottom: 25px; }

#hosted-site h3 { background: url(../images/hosted.png) no-repeat left center; padding: 0 0 0 45px; }

#page-inner-wrap #about-contents #find-solution h3 a { color: #333333; text-decoration: none; }

#page-inner-wrap #about-contents #find-solution h3 a:hover { color: #999; }

#hosted-site .create-your-site { position: absolute; left: 0px; bottom: 0px; }

#hosted-site .create-your-site:hover, #hosted-site .create-your-site:focus { opacity: 0.8; }

/**  #signup-enterprise  **/
#signup-enterprise { overflow: hidden; width: 420px; float: left; position: relative; padding-bottom: 25px; margin-bottom: 25px; }

#signup-enterprise h3 { background: url(../images/mens.png) no-repeat left center; padding: 0 0 0 45px; }

#signup-enterprise .see-examples { position: absolute; left: 0px; bottom: 0px; display: inline-block; font-family: "HelveticaNeueRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #555555; text-decoration: none; background: url(../images/btn-bg.png) no-repeat; height: 29px; width: 134px; padding: 0 8px 0 8px; line-height: 26px; }

#signup-enterprise .see-examples:hover, #signup-enterprise .see-examples:focus { color: #333333; }

#signup-enterprise .learn-more-btn { position: absolute; left: 162px; bottom: 0px; }

#signup-enterprise .learn-more-btn:hover, #signup-enterprise .learn-more-btn:focus { opacity: 0.8; }

/**  host-instance **/
#find-solution #host-instance { clear: both; overflow: hidden; }

#host-instance h3 { background: url(../images/host-instance.png) no-repeat left center; padding: 3px 0 0 45px; }

#page-inner-wrap #about-contents #host-instance h3 a { color: #333333; text-decoration: none; }

#about-contents #pcf { clear: both; overflow: hidden; }

#about-contents #pcf .alignright { margin-top: 0px; }

#about-contents #pcf h3 { font-family: "MuseoSlab500", Arial, Helvetica, sans-serif; font-size: 34px; font-weight: normal; margin-bottom: 6px; }

#page-inner-wrap #about-contents #pcf h3 a { color: #333333; text-decoration: none; }

#page-inner-wrap #about-contents #pcf h3 a:hover, #page-inner-wrap #about-contents #pcf h3 a:hover { color: #999; }

.host-btn:hover { opacity: 0.8; }

/**  features   **/
#page-inner-wrap #features ul { margin: 0px; padding: 0px; list-style: none; margin-bottom: 20px; }

#page-inner-wrap #features ul li { position: relative; background: none; margin: 0 7px 10px 0px; padding: 12px 0px 0 0px; }

#page-inner-wrap #features ul li .grip { background: url(../images/holder.png) no-repeat; width: 93px; height: 24px; position: absolute; z-index: 400; left: 32%; top: -1px; }

#page-inner-wrap #features .features-list li { width: 281px; overflow: hidden; float: left; text-align: center; }

#page-inner-wrap #features .features-list li .features-frame { overflow: hidden; display: table-cell; vertical-align: middle; background: url(../images/featured-img-frame2.png) no-repeat; width: 277px; height: 185px; padding: 2px 2px 2px 2px; }

#page-inner-wrap #features .features-list li .features-frame img { height: 176px; max-width: 275px; margin-top: 2px; overflow: hidden; }

#page-inner-wrap #features .features-list li .feature-title { font-family: "MuseoSlab500", Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; text-decoration: none; }

#page-inner-wrap #features .features-list li .feature-title:hover, #page-inner-wrap #features .features-list li .feature-title:focus { color: #999; }

.features-detailed h3 { font-family: "MuseoSlab500", Arial, Helvetica, sans-serif; font-size: 34px; font-weight: normal; margin-bottom: 6px; }

#page-inner-wrap .features-detailed h3 a { color: #333333; text-decoration: none; }

#page-inner-wrap .features-detailed h3 a:hover, #page-inner-wrap .features-detailed h3 a:focus { color: #999; }

#page-inner-wrap #features .features-detailed li { overflow: hidden; clear: both; margin-bottom: 50px; }

#page-inner-wrap #features .features-detailed .alignleft { float: left; margin: 0 10px 10px 0; }

#page-inner-wrap #features .features-detailed .alignright { float: right; margin: 0 0 10px 10px; }

#page-inner-wrap #features .features-detailed li p { margin-bottom: 10px; }

#page-inner-wrap #features .features-detailed li .learn-more { display: inline-block; font-family: "HelveticaNeueRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #555555; text-decoration: none; text-decoration: none; background: url(../images/featured-btn-bg.png) no-repeat; width: 220px; height: 29px; text-align: center; line-height: 26px; }

#page-inner-wrap #features .features-detailed li .learn-more:hover { color: #333; }

#page-inner-wrap #features .features-detailed li .top-margin { margin-top: 40px; }

/**  support-wrap  **/
#support-wrap { min-width: 990px; background: #f4f4f4; border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4; }

#support-wrap #support-features { width: 940px; padding: 35px 10px 20px 10px; margin: 0px auto; }

#support-wrap #support-features h3 { font-family: "HelveticaNeuemMedium", Arial, Helvetica, sans-serif; font-size: 10px; font-weight: 500; color: #333333; text-transform: uppercase; }

/**   social  **/
#support-features #social { float: left; overflow: hidden; width: 400px; }

#social .footer-logo { margin-bottom: 20px; }

#social h3 { margin-bottom: 5px; }

/**   connect   **/
#social #connect { overflow: hidden; float: left; margin: 0 28px 0 0; }

#social #connect li { float: left; margin-right: 5px; }

#social #connect li:hover { opacity: 0.8; }

/** newsletter  **/
#social #newsletter { float: left; }

#social #newsletter p { float: left; }

#newsletter p.email-input-container { overflow: hidden; background: url(../images/email-input-bg.png) no-repeat; width: 173px; height: 22px; padding: 2px 5px 2px 5px; margin: 0 12px 0 0; }

#newsletter .email-input-container input { width: 173px; height: 18px; border: none; background: none; outline: none; font-family: "HelveticaNeueRegular", Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; }

#newsletter #subscribe { background: url(../images/subscribe-btn.png) no-repeat; width: 61px; height: 27px; border: none; outline: none; }

#newsletter #subscribe:hover, #newsletter #subscribe:focus { cursor: pointer; opacity: 0.8; }

/**  columns-features  **/
#support-features #columns-features { float: left; overflow: hidden; margin-left: 70px; margin: 20px 0 10px 0; }

/**  columns  **/
#columns-features .column { overflow: hidden; float: left; width: 100px; margin: 0 0px 0 60px; }

#columns-features .column h3 { margin-bottom: 12px; }

#columns-features .column ul li a { font-family: "HelveticaNeuemMedium" ,Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #666666; line-height: 25px; text-decoration: none; }

#columns-features .column ul li a:hover, #columns-features .column ul li a:focus { text-decoration: underline; }

#support-features p.mission { clear: both; font-family: "PTSansRegular", Arial, Helvetica, sans-serif; font-size: 10px; color: #999999; line-height: 21px; }

/**  footer-wrap **/
#footer-wrap { clear: both; background: #f4f4f4; border-top: 1px solid #fafafa; border-bottom: 2px solid #dfdfdf; min-width: 990px; }

#footer-wrap #footer { width: 940px; height: 30px; padding: 0 10px 0 10px; line-height: 30px; margin: 0px auto; }

/**  footer-nav  **/
#footer .footer-nav { float: left; }

#footer .footer-nav li { float: left; background: url(../images/divider.png) no-repeat right center; }

#footer .footer-nav li a { font-family: "HelveticaNeueRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #55a4f2; padding: 0 15px 0 15px; line-height: 21px; text-decoration: none; }

#footer .footer-nav li a:hover, #footer .footer-nav li a:focus { text-decoration: underline; }

#footer h5 { float: right; font-family: "HelveticaNeuemMedium", Arial, Helvetica, sans-serif; font-size: 11px; color: #949494; font-weight: normal; }

/**  page-wrap  **/
/**  page-inner-wrap  **/
#page-wrap #page-inner-wrap { /* background:url(../images/bg-repeat.png) repeat-y top center; width: 858px; min-height: 700px; padding: 40px 55px 45px 65px;  margin: 0px auto;*/ }
