.l-floatleft{
	float: left;
	margin: 0 38px 10px 0;
}
.l-floatright{
	float: right;
	margin: 0 0 10px 38px;
}

.l-section{
	margin-bottom: $main-padding;
}

.l-bordered-box{
	padding-top: $main-padding;
	position: relative;
	background:url(../images/line.png) no-repeat 480px 40px;
	border-top: #d4d4d4 solid 1px;
	@extend .clearfix;

	& > div{
		& + div{
			margin-left: -1px;
			border-left: #d4d4d4 solid 1px;
		}
	}
}

.l-60-40{
	@extend .clearfix;

	& > div{
		width: .6 * $main-width - $main-padding;
		float: left;
		padding: 0 $main-padding 0 0;

		& + div{
			width: .4 * $main-width - $main-padding;
			padding: 0 0 0 $main-padding;
		}
	}
}

.l-50-50{
	@extend .clearfix;

	& > div{
		width: .5 * $main-width - $main-padding;
		float: left;
		padding: 0 $main-padding 0 0;

		& + div{
			padding: 0 0 0 $main-padding;
		}
	}
}

.l-25-40-35{
	@extend .clearfix;
	$column-padding: 3 * $normal;
	$total-column-width: $main-width - 2 * $column-padding;

	& > div{
		width: .4 * $total-column-width;
		float: left;
		padding: 0 $column-padding 0 0;

		&:last-child{;
			padding: 0;
			width: .35 * $total-column-width;
		}
		&:first-child{
			width: .25 * $total-column-width;
		}
	}
}

.l-thirds{
	@extend .clearfix;
	$column-padding: $normal;
	$total-column-width: $main-width - 2 * $column-padding;

	& > div{
		width: .333 * $total-column-width;
		float: left;
		padding: 0 $normal 0 0;

		&:last-child{
			padding: 0;
		}
	}
}

.l-thirds-wide{
	@extend .clearfix;
	$column-padding: $normal;
	$total-column-width: $wide-width - 2 * $column-padding;

	& > div{
		width: .333 * $total-column-width;
		float: left;
		padding: 0 $normal 0 0;

		&:last-child{
			padding: 0;
		}
	}
}

.l-quarters{
	@extend .clearfix;
	$column-padding: $normal;
	$total-column-width: $main-width - 3 * $column-padding;

	& > div{
		width: .25 * $total-column-width;
		float: left;
		padding: 0 $normal 0 0;

		&:last-child{
			padding: 0;
		}
	}
}

.l-quarters-wide{
	@extend .clearfix;
	$column-padding: $normal;
	$total-column-width: $wide-width - 3 * $column-padding;

	& > div{
		width: .25 * $total-column-width;
		float: left;
		padding: 0 $normal 0 0;

		&:last-child{
			padding: 0;
		}
	}
}