$tiny: 10px;
$small: 12px;
$normal: 14px;
$large: 18px;
$x-large: 24px;
$xx-large: 30px;
$xxx-large: 48px;
$huge: 60px;
$x-huge: 72px;

$main-width: 858px;
$main-padding: 40px;

$wide-width: 960px;

$red-accent: #d62622;