/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "fonts";
@import "variables";
@import "layout";

/** Base Body Styles **/

body{
	width: 100%;
	min-width: 960px;
	background: #f0f0f0;
}

h1,h2,h3,h4,h5,h6{font-weight:bold;}
h1{font-size:$xx-large;}
h2{font-size:$x-large;}
h3{font-size:$large;}
h4{font-size:$normal;}
h5{font-size:$small;}
h6{font-size:$tiny;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/** Links **/
a:focus { outline: thin dotted; }
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/** Contain floats: h5bp.com/q **/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.container{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

/**  header  **/
header {
	height: 109px;
	line-height: 110px;
	border-bottom: 1px solid #313131;

	.logo {
		position: absolute; left: 10px; top: 30px;
	}
}
	.nav { float: right; margin: 0 124px 0 0;}
	.nav li { float: left; margin: 0  30px 0 0;}
	.nav li a { font-family: "HelveticaNeueRegular", Arial, Helvetica, sans-serif; font-size: 14px; color: #546784; line-height: 21px; text-decoration: none;}
	.nav li a:hover, .nav li a:focus , .nav li a.active { text-decoration: underline;} 

	.create-site-btn{ position: absolute; top: 40px; right: 10px;}
	.create-site-btn:hover, .create-site-btn:focus{ opacity: 0.8; }

/** main  **/
.main {
	background: url(../images/banner-bg.png) repeat-x top left;
	min-width: 990px;
	min-height: 425px;
	overflow: hidden;
	position: relative;

	&:before{
		background: url(../images/banner-bg-light.jpg) no-repeat top center;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 408px;
		content: "";
	}

	h1{
		font-family: "GothamThinRegular", Arial, Helvetica, sans-serif;
		font-size: $huge;
		font-weight: normal;
		color: $red-accent;
		line-height: $huge; // + 4px?
		text-align: center;
		margin-bottom: $huge / 2;
		@include text-shadow(0px 1px 1px #777777);
	}
	h2{
		font-family: "MuseoSlab500", Arial, Helvetica, sans-serif;
		font-size: $xx-large;
		font-weight: normal;
		line-height: $xx-large;
		margin-bottom: $xx-large;

		&.accent{
			color: $red-accent;
		}
		&.icon{
			padding-left: 30px;
			position: relative;
		}
		&.icon-wide{
			padding-left: 45px;
			position: relative;
		}
		&.icon-tools{
			background: url(../images/icons/tools.png) no-repeat left 1px;
		}
		&.icon-heart{
			background: url(../images/icons/heart.png) no-repeat left center;
		}
		&.icon-businessmen:before{
			display: block;
			content: "";
			position:absolute;
			height: 38px;
			width: 33px;
			top: -8px;
			left: 0;

			background: url(../images/icons/businessmen.png) no-repeat left 1px;
		}
		&.icon-monitor{
			background: url(../images/icons/monitor.png) no-repeat left center;
		}
		&.icon-www{
			background: url(../images/icons/www.png) no-repeat left 1px;
		}
	}
	h3{
		font-family: "MuseoSlab500", Arial, Helvetica, sans-serif;
		font-size: $large;
		color: #333333;
		font-weight: normal;
		margin-bottom: $normal;

		&.icon{
			padding-left: 30px;
			position: relative;
		}
		&.icon-house{
			background: url(../images/icons/house.png) no-repeat left top;
		}
		&.icon-parthenon{
			background: url(../images/icons/parthenon.png) no-repeat left top;
		}
		&.icon-trophy{
			background: url(../images/icons/trophy.png) no-repeat left top;
		}
		&.icon-movie-reel{
			background: url(../images/icons/movie-reel.png) no-repeat left top;
		}
	}

	p, ul, ol, dl, blockquote{
		color: #333333;
		font-size: $normal;
		font-family: Helvetica, Tahoma, Arial, Geneva, sans-serif;
		line-height: $x-large;
		margin-bottom: $normal;
	}
	ul{
		list-style: square outside;
	}
	ol{
		list-style: decimal outside;
	}

	a{
		color: #43B3EE;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
		&.wrapping{
			text-decoration: none;
		}
	}
}

figure {}

	figcaption{
		text-align: center;
	}

	.framed{
		border: 1px solid #C8CACE;
		background: #E9ECEE;
		@include border-radius(3px);
		@include box-shadow(inset 0 0 0 2px #fff);
		padding: 2px;
		margin-bottom: $large;

		& > img{
			display: block;
			margin: 0 auto;
		}
	}

	.taped{
		position: relative;
		margin: 14px 0 3 * $large;
		height: 180px;

		&:before{
			content: "";
			background: url(../images/tape.png) top center no-repeat;
			position: absolute;
			top: -14px;
			left: 0;
			width: 100%;
			height: 24px;
		}

		& > h3{
			position: absolute;
			bottom: -2 * $large;
			width: 100%;
			text-align: center;
		}
	}

/**  banner **/
.banner{
	position: relative;

	& > h1{
		font-family: "GothamBookRegular",Arial, Helvetica, sans-serif;
		font-size: $xxx-large;
		font-weight: normal;
		color: #fefefe;
		@include text-shadow(2px 2px 13px #000000);
		text-align: center;
		margin: $normal 0;
	}
	& > img{
		display: block;
		margin: 0 auto;
	}
}

	.banner-shadow{
		margin-bottom: $large;
		overflow: hidden;
		height: 425px;
		&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 100%;
			height: 35px;
			background: url(../images/banner-bottom-shadow.png) no-repeat bottom center;
		}
	}


.floatpage{
	background-color:#f8f8f8;
	@include box-shadow(0 0 20px -2px);
	width: 858px;
	padding: 40px 40px 90px 40px;
	margin: 100px auto -50px;
}

.try-btn { float: right; margin: 0 25px 10px 0;}
.signup-now { float: right; margin: 0 40px 0 0;}

.create-your-site, .learn-more-btn, .host-btn, .try-btn, .signup-now{
	&:hover, &:focus{opacity: 0.8;}
}

/**  support-wrap  **/
#support-wrap {  min-width: 990px;  background: #f4f4f4; border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;}
#support-wrap #support-features { width: 940px; padding: 35px 10px 20px 10px; margin: 0px auto;}
#support-wrap #support-features h3 { font-family: "HelveticaNeuemMedium", Arial, Helvetica, sans-serif; font-size: 10px; font-weight: 500; color: #333333; text-transform: uppercase;}
/**   social  **/
#support-features #social { float: left; overflow: hidden; width: 400px; }
#social .footer-logo { margin-bottom: 20px;}
#social h3 { margin-bottom: 5px;}
/**   connect   **/
#social #connect { overflow: hidden; float: left; margin: 0 28px 0 0;}
#social #connect li { float: left; margin-right: 5px;}
#social #connect li:hover { opacity: 0.8;}
/** newsletter  **/
#social #newsletter { float:left;}
#social #newsletter p { float: left;}
#newsletter p.email-input-container { overflow: hidden; background:url(../images/email-input-bg.png) no-repeat; width: 173px; height: 22px; padding: 2px 5px 2px 5px; margin: 0 12px 0 0;}
#newsletter .email-input-container input { width: 173px; height: 18px; border: none; background: none; outline: none; font-family: "HelveticaNeueRegular", Arial, Helvetica, sans-serif; font-size: 11px; color: #666666;}
#newsletter #subscribe { background:url(../images/subscribe-btn.png) no-repeat; width: 61px; height: 27px; border: none; outline: none;}
#newsletter #subscribe:hover, #newsletter #subscribe:focus { cursor: pointer; opacity: 0.8;  }

/**  columns-features  **/
#support-features #columns-features { float: left; overflow: hidden; margin-left: 70px; margin: 20px 0 10px 0;   }

/**  columns  **/
#columns-features .column { overflow: hidden; float: left; width: 100px; margin: 0 0px 0 60px;}
#columns-features .column h3 { margin-bottom: 12px;}
#columns-features .column ul {}
#columns-features .column ul li {}
#columns-features .column ul li a {font-family: "HelveticaNeuemMedium" ,Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #666666; line-height: 25px; text-decoration: none;}
#columns-features .column ul li a:hover,#columns-features .column ul li a:focus { text-decoration: underline;}
#support-features p.mission { clear: both; font-family: "PTSansRegular", Arial, Helvetica, sans-serif; font-size: 10px; color: #999999; line-height: 21px;}


/**  footer-wrap **/
#footer-wrap { clear: both;  background: #f4f4f4; border-top: 1px solid #fafafa; border-bottom: 2px solid #dfdfdf; min-width: 990px; }

#footer-wrap #footer { width: 940px; height: 30px; padding: 0 10px 0 10px; line-height: 30px; margin: 0px auto;}

/**  footer-nav  **/
#footer  .footer-nav{ float: left; }
#footer  .footer-nav li { float: left; background: url(../images/divider.png) no-repeat right center;}
#footer  .footer-nav li  a {font-family: "HelveticaNeueRegular",Arial, Helvetica, sans-serif; font-size: 12px; color: #55a4f2; padding: 0 15px 0 15px;  line-height: 21px; text-decoration: none;}
#footer  .footer-nav li a:hover, #footer  .footer-nav li a:focus { text-decoration: underline;}

#footer h5 { float: right;font-family: "HelveticaNeuemMedium", Arial, Helvetica, sans-serif; font-size: 11px; color: #949494; font-weight: normal;}
